* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

.app_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__title {
  margin-bottom: 30px;
}

.login__input {
  margin-bottom: 20px;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  outline: none;
}

.login__input:last-child {
  margin-bottom: 0;
}

.login__btn {
  font-size: 20px;
  background-color: rgb(8, 209, 8);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: none;
  padding: 20px;
  width: 280px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.login__btn:active {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.join-block {
  margin: 0 auto;
  width: 300px;
}

.join-block input {
  font-size: 24px;
  width: 100%;
  height: 50px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.join-block button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

.chat {
  display: flex;
  height: 500px;
  border: 1px solid rgba(159, 183, 197, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.chat-users {
  border-right: 1px solid rgba(159, 183, 197, 0.1);
  padding: 20px;
  width: 200px;
  background-color: #f6f9fa;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 30px;
}

.messages {
  flex: 1;
  height: calc(100% - 155px);
  overflow: auto;
}

.message {
  margin-bottom: 20px;
}

.message p {
  display: inline-flex;
  border-radius: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #7160ff;
  padding: 10px 15px 15px;
  color: #fff;
  margin-bottom: 2px;
}

.message span {
  opacity: 0.5;
  font-size: 14px;
}

.chat-users ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-users ul li {
  margin-top: 10px;
  border-radius: 3px;
  background-color: #fff;
  padding: 8px 14px;
  box-shadow: 0 3px 5px rgba(159, 183, 197, 0.1);
  font-weight: 500;
}

.chat-messages form {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-messages form textarea {
  width: 100%;
  margin-bottom: 10px;
}
